1

In [ ]:
from tabulate import tabulate
table = [["По Цельсию"], ["По Фаренгейту"]]
j = 0
for i in range(11):
    table[0].append(j)
    table[1].append(9*j/5 + 32)
    j += 10
print(tabulate(table))

2

In [ ]:
y = input("Введите возраст: ")
k = 0

while y != '':
  if 3 < int(y) < 12:
    k+=14
  elif 13 < int(y) < 65:
    k+=23
  elif int(y) >=65:
    k+=18
  else:
    k+=0
  y = input("Введите возраст:")
print("Общая стоимость:", format(k, '.2f'), sep='')

Введите возраст: 2
Введите возраст:11
Введите возраст:65
Введите возраст:
Общая стоимость:32.00

3

In [ ]:
x = int(input())
guess = x / 2
while abs(guess * guess - x) > 10**(-12):
  guess = (guess + (x / guess)) / 2
print(guess)

2
1.0

4

In [ ]:
n = int(input())
m = int(input())
if n <= m:
  d = m
else:
  d = n
while n%d != 0 or m%d != 0:
  d = d-1
print(d)

5

In [ ]:
l = []
for i in iter(input, ""):
    l.append(int(i))

s = 0
for i in l:
    s += i
m = s / len(l)
less_n = []
grater_n = []
equal_n = []
for i in l:
    if i > m:
        grater_n.append(i)
    if i == m:
        equal_n.append(i)
    if i < m:
        less_n.append(i)
print("среднее:", m)
if less_n != []:
    print("ниже среднего:", *less_n)
if equal_n != []:
    print("равные среднему:", *equal_n)
if grater_n != []:
    print("выше среднего:", *grater_n)

6

In [ ]:
def reverseLookup(dictionary, value):
  keys = []
  for key in dictionary:
    if dictionary[key] == value:
      keys.append(key)
      return keys
if __name__=="__main__":
  myDictionary = {"a":"cat", "b":"dog", "c":"cow", "d":"horse", "e":"fox"}
  keys = reverseLookup(myDictionary, "fox")
  print(keys)

['e']

7

In [ ]:
d = {'AEILONRSTU': 1, 'DG': 2, 'BCMP': 3, 'FHVWY': 4, 'K': 5, 'JX': 8, 'QZ': 10}
word = input()
summa = 0
while len(word):
  for key in d:
    if word[-1] in key:
      summa += d[key]
  word = word.replace(word[-1], '', 1)
print(summa)

8

In [ ]:
def sq(n, guess=1):
  if abs(guess*guess - n) < 10**(-12):
    return guess
  else:
    return sq(n, ((guess + (n / guess)) / 2))
print(sq(16))
print(sq(16, 3))
print(sq(14, 2))
print(sq(3, 5))

9

In [ ]:
def decoding(l):
    s = ""
    i = 0
    while i < len(l):
        s = s + (l[i]*l[i+1])
        i += 2
    l2 = []
    for i in s:
        l2.append(i)
    return l2

print(decoding(["A", 12, "В", 4, "A", 6, "В", 1]))